{% extends 'mainapp/layout.html'%}

{% block title %} Главная ЛСТ{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная ЛСТ</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate necessitatibus deleniti mollitia tenetur culpa nobis reprehenderit exercitationem, quo quidem est rem tempora quasi excepturi quas sit assumenda labore sequi quisquam.</p>
        <a href="{% url 'about' %}"><button class="btn btn-warning">На страницу про нас </button></a>
        
        {% for val in values %}
            {% if val == 'hello' %}
                <p>{{ val|upper }}</p>
            {% endif %}
        {% endfor %}

        {% for val in obj %}
            <p>{{ val|upper }}</p>
        {% endfor %}


    </div>
{% endblock %}

