{% extends 'mainapp/layout.html'%}

{% block title %}
ЛСТ главная
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate necessitatibus deleniti mollitia tenetur culpa nobis reprehenderit exercitationem, quo quidem est rem tempora quasi excepturi quas sit assumenda labore sequi quisquam.</p>
        <button class="btn btn-warning">На страницу про нас </button>
    </div>
{% endblock %}